<!DOCTYPE html>
<head>
  <title>Node: Workshop 2</title>
  <link rel="stylesheet" href="./css/styles.css" />
</head>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 2</h2>
    <a href='/question1'>q1</a>
    <a href='/question2'>q2</a>
    <a href='/question3'>q3</a>
    <a href='/question4'>q4</a>
    <a href='/question5'>q5</a>
    <a href='/question6'>q6</a>
    <a href='/question7'>q7</a>
    <a href='/question8'>q8</a>
    <a href='/question9'>q9</a>
    <a href='/question10'>q10</a>
</div>
</body>