<%- include('../partials/head'), {} %>
<body>
  <header>
    <h1>Node: Workshop 2</h1>
  </header>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <h3>Top 5 girls names in the England and Wales</h3>
        <ol>
        <% names.forEach(name => { %>
          <li><%= names.indexOf(name)+1 + '. ' + name %></li>
        <% }); %>
        </ol>
      </div>
    </div>
  </div>
</body>
